@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: Roboto;
}

.section-1 {
  padding: 10px 160px;
  background-image: url("./images/juskteez-vu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.section-1 a {
  color: rgb(214, 214, 214);
  text-decoration: none; 
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 24px;
  font-size: 18px;
  color: #E5E7EB;
}

.text .subtext {
  font-size: 18px;
  color: white;
  margin-top: 10px;
}

#btn1 {
  width: 120px;
  height: 40px;
  margin-top: 15px;
  background-color: #007FFF;
  border-radius: 10px;
  color: #F9FAF8;
  font-size: 15px;
  font-weight: 900;
  border-color: #007FFF;
}

.header img {
  width: 200px;
} 

.header {
  display: flex;
  justify-content: space-between;
}

.header div {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  gap: 50px;
}

.main {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.image {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 160px 90px;

}

.content {
  font-size: 36px;
  font-weight: bolder;
}

.figures {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  height: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 150px;
}

.figure {
  height: 140px;
  width: 140px;
  justify-content: center;
  border-radius: 10px;;
}

.info .subtext {
  text-align: center;
}

.section-3 {
  background-color: #E5E7EB;
  padding: 70px 280px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: rgb(90, 90, 90);
}

.the-quoted {
  margin-top: 10px;
  font-weight: bolder;
  text-align: end;
}

.section-4 {
  background-color: white;
}

.call {
  display: flex;
  justify-content: space-between;
  background-color: #007FFF;
  margin: 80px 160px;
  color: #F9FAF8;
  padding: 50px 100px;
}

.action .text {
  font-weight: bolder;

}

#btn2 {
  background-color: #007FFF;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  padding: 5px 24px;
  border-radius: 10px;
}

.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  text-align: center;
  padding: 20px 0 10px;
}

.info img {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  object-fit: cover;
}

h6 {
  margin: 10px 0 0 0;
}

span {
  font-weight: bold;
}

.figures a {
  color: black;
}